



<%= form_for(@user, :html => {:class => "custom"}) do |f| %>


	<p>User name: <%= f.text_field :name %></p>
	<% if @user.errors.include? :name %>
		<p>Name is invalid. I am custom</p>
	<% end %>

	<p>Password: <%=f.password_field :password %></p>
	<% if @user.errors.include? :password %>
		<p>Password is invalid. I am custom</p>
	<% end %>

	<p>Confirm Password: <%=f.password_field :password_confirmation %></p>

	<%= f.submit %>
<% end %>